body {
  background-color: #DDD;
}

.container {
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: #f2f2f2;
}

#main-nav {
  background-color: #1789FC;
  color: #f2f2f2;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.home-page-carousel {
  position: relative;
}

.welcome-text-container {
  position: absolute;
  left: 5%;
  top: 15%;
}

.welcome-text {
  position: relative;
  /*max-width: 400px;*/
  text-align: center;
  color: #f2f2f2;
}

.home-page-row {
  margin: 15px auto;
}

.card {
    margin-top: 20px;
    overflow: hidden;
}

.card-title {
  margin: 0;
}

.card-text {

}

.btn-primary {
  background-color: #1789FC
}

.new-course-box {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  /*background-color: red;*/
}

.edit-course-box {
  width: 45%;
}

.course-card {
  position: relative;
  height: 250px;
}

.course-card-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.not-enrolled {
  border-top: solid black 2px;
  margin-top: 30px;
  padding-top: 30px;
}

.course-heading {
  margin-bottom: 50px;
}

.new-form {
  max-width: 600px;
}

.student-data {
  margin-top: 20px;
}